#title{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin:5px;
    padding: 5px;
}

body{
    background-color: #102C57;
    color: #DAC0A3;
    border-radius: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif cursive;
    height:120px;
    width:200px;
}

#Add{
    margin: 2px;
}

.Question-set-inputs-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto ;
    margin-top:2px;
    margin-bottom:2px;
}

.Question-set-btn{
    border:0.5px;
    border-radius: 10px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #102C57;
    font-weight: 200;
}

#Question-Set{
    background-color: #EADBC8;
    padding:5px;
    margin: auto;
    border-radius: 10px;
}

.Question-set-btn:hover{
    background-color: #102C57;
    color:#EADBC8;
    transition: ease 0.3s;
}